//variables
//primary colors
$Bright-Red: hsl(12, 88%, 59%);
$Dark-Blue: hsl(228, 39%, 23%);
//neutral colors
$Dark-Grayish-Blue: hsl(227, 12%, 61%);
$Very-Dark-Blue: hsl(233, 12%, 13%);
$Very-Pale-Red: hsl(13, 100%, 96%);
$Vary-Light-Gray: hsl(0, 0%, 98%);
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Be Vietnam', sans-serif;
    width: 100%;
    min-width: 375px;
    max-width: 1440px;
}

header,
nav {
    width: 100%;
}

.container {
    width: 90%;
}

.boxFlex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.boxFlex-col {
    flex-direction: column;
}

.navigation {
    list-style-type: none;
    justify-content: space-around;
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}